services:
  laravel-docker:
    container_name: laravel-docker
    build: .
    volumes:
      - ./laravel-app:/var/www/html
    ports:
      - 9000:80
    depends_on:
      - mysql_db
  
  mysql_db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: learning_management_system
    ports:
      - 3306:3306
  
  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - 8001:80 
    environment:
      - PMA_ARBITRARY=1
  
  mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
